@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular-subset.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Light-subset.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium-subset.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold-subset.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Black-subset.ttf');
  font-weight: 900;
}